@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-color: #6C63FF;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 10vh;
    max-width: 980px;
    margin: auto;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 2.4rem;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: rgba(255, 255, 255, 0.15)
}

@media(max-width: 540px) {
    nav {
        display: none;
    }
    .one, .two, .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }
    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 40px;
    }
    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #6C63FF;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-section.on nav {
        display: block;
    }
    .menu-section.on .menu-toggle {
        position: absolute;
        left: 6%;
        top: 15px;
    }
    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }
    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }
    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -10px);
    }
    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }
    .menu-section.on nav ul a {
        transition-duration: 0.5s;
        font-size: 2rem;
        line-height: 2rem;
        display: block;
        margin-right: 6%;
    }
}